<div class="container">
        <form novalidate [formGroup]="questionForm" (ngSubmit)="onSubmit()">

          <fieldset>
            <div class="form-group">
              <div class="col-md-8">
                <span class=" col-form-label">What do you have in your mind?</span>
                <input class="col-md-8 form-control input-lg test" formControlName="title" placeholder="Enter a descriptive title" type="text">
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-8">
                <textarea class="form-control" formControlName="content" placeholder="Why, What, How...?" rows="10" type="text"></textarea>
              </div>
            </div>

          </fieldset>

          <div class="form-group">
            <div class="col-md-8">
              <label>Tags</label>
              <tag-input formControlName="tags" [(ngModel)]='tags'></tag-input>
            </div>
          </div>



          <div class="form-group ">
            <div class="cols-sm-10">
              <div class="col-auto"></div><button type="submit" class="btn btn-success"  [disabled]="!questionForm.valid" >Post Question</button>
            </div>
          </div>
        </form>
</div>
