<div class="container">
        <header class="header">
          <div class="row">
            <div class="col-md-4">
            <h1>Questions</h1>
            </div>
            <div class="col-md-6">
            </div>
          </div>
        </header>

        <div class="list-group row">
          <div *ngFor="let question of questions" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{question.title}}</h5>
              <small>3 days ago</small>
            </div>
            <p class="mb-1">{{question.content}}</p>
            <button type="button" class="btn btn-primary" (click)="QuestionPage(question)">Read More</button>
            <button type="button" class="btn btn-success" (click)="editQuestionPage(question)">Edit</button>
            <button type="button" class="btn btn-danger" (click)="deleteQuestion(question)">Delete</button>

          </div>
        </div>

</div>
